{
  "name": "{{projectName}}",
  "version": "0.1.0",
  "description": "{{description}}",
  "main": "",
  "scripts": {
    "postinstall": "node postinstall.js",
    "server": "node app.js"
  },
  "author": "{{author}}",
  "license": "",
  "dependencies": {
    "agile-ui": "^0.2.5",
    "agile-vm": "^0.1.5",
    "aui-component": "^0.2.0",
    "aui-loader": "^0.3.0",
    "chestnut-app": "^0.2.4"
  }
}
