{
  "name": "{{projectName}}",
  "version": "0.1.0",
  "description": "",
  "main": "",
  "scripts": {
    "pack": "webpack",
    "start": "webpack-dev-server"
  },
  "author": "",
  "license": "",
  "devDependencies": {
    "@webcomponents/custom-elements": "^1.0.4",
    "aui-loader": "^0.1.2",
    "babel": "^6.23.0",
    "babel-core": "^6.26.0",
    "babel-loader": "^7.1.2",
    "css-loader": "^0.28.7",
    "glob": "^7.1.2",
    "postcss-loader": "^2.0.6",
    "style-loader": "^0.18.2",
    "webpack": "^3.6.0",
    "webpack-dev-server": "^2.8.2"
  },
  "dependencies": {
    "agile-ui": "^0.1.9",
    "agile-vm": "^0.1.3"
  }
}
